* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}

body {
	background-color: #121212;
}

body::-webkit-scrollbar, .slider1::-webkit-scrollbar, .slider2::-webkit-scrollbar {
	width: 1em;
}
   
body::-webkit-scrollbar-track, .slider1::-webkit-scrollbar-track, .slider2::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb, .slider1::-webkit-scrollbar-thumb, .slider2::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

#divVideo {
	display: flex;
	justify-content: center;
	height: 30vh;
	background-color: black;
}

main {
	padding: 30px;
}

.texto {
	margin-bottom: 30px;
	color: rgb(83, 0, 128);
	border-color: rgb(83, 0, 128);
}

.texto h1 {
	font-size: 30px;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}

.texto p {
	font-size: 25px;
	line-height: 1.5;
	margin-bottom: 4px;
	display: flex;
	justify-content: center;
}

.slider-section {
	display: flex;
	justify-content: space-around;
}

.slider1, .slider2 {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 15px;
	scroll-padding: 10px;
	max-width: 250px;
}

.slider-section img {
	height: auto;
	object-fit: cover;

	flex-shrink: 0;
	width: 100%;
}

.bgPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(36, 36, 36);
	opacity: 0.96;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	opacity: 1;
    transition: opacity 0.5s;

	background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );

  }
  
  .close-button {
	background-color:  #121212;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  

  #neve {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
  }
  
  .flake {
	position: fixed;
	font-size: 2em;
	color: #fff;
	opacity: 0;
	animation: snowfall 7s linear infinite;
	transform: translateY(-100%);
  }

  .flake img {
	width: 20px;
  }
  
  @keyframes snowfall {
	0% {
	  opacity: 0;
	  transform: translateY(-10%);
	}

	25% {
	  opacity: 0.5;
	  transform: translateY(500%);
	}

	50% {
		opacity: 1;
		transform: translateY(1000%);
	}

	75% {
		opacity: 0.5;
		transform: translateY(1500%);
	}

	100% {
	  opacity: 0;
	  transform: translateY(2000%);
	}
  }
  